<div class="h-screen">
  <div class="bg-beige h-full">
    <div class="h-full" id="map">
      <div style="z-index: 99999;" class="w-full justify-center absolute bottom-0 ml-auto mr-auto flex gap-0">
        <div class="bg-black/60 p-2 flex gap-4 rounded-sm text-white">
          <button class="cursor-pointer"
            *ngFor="let period of [
              { name: 'Apostolic Fathers', range: '70–150 AD', periodId: 1 },
              { name: 'Greek & Latin Apologists', range: '130–200 AD', periodId: 2 },
              { name: 'Early Teachers', range: '150–300 AD', periodId: 3 },
              { name: 'Later Church Fathers', range: '300–600 AD', periodId: 4 }
            ]"
            (click)="setSelectedPeriod(period.periodId)"
            [ngClass]="{
              'squiggle-underline': selectedPeriod === period.periodId
            }"
          >
            <span class="flex flex-col items-center justify-center">
              <span class="text-base">{{ period.name }}</span>
              <span class="text-xs">{{ period.range }}</span>
            </span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="flex w-full  justify-center items-center bottom-2 absolute cursor-pointer">
    <div *ngFor="let item of items" class="flex-1 group relative flex flex-col items-center cursor-pointer">

      <div class="w-16 h-16 rounded-full  transform transition-all duration-300 group-hover:-translate-y-3 z-10">
        <img src="{{item.iconUrl}}" class="shadow-mdml-6 w-16 h-16 rounded-full">
      </div>
  

      <div class="h-0 w-1 bg-blue-500 transition-all duration-300 group-hover:h-6"></div>

      <div
        class="mt-2 text-sm text-center text-gray-700 transition-opacity duration-300 group-hover:opacity-100 opacity-0">
        {{ item.label }}
      </div>
    </div>
  
  </div> -->

</div>